body {
  background: #eee;
  color: #333;
  font-size: 14px;
}
h1 {
  margin-top: 0;
}
form {
  display: block;
  padding: 12px 0;
}
section {
  display: block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 12px auto 12px auto;
  padding: 12px 32px;
  width: 704px;
}
footer {
  display: block;
  margin: 0 auto;
  width: 768px;
  color: #555;
}
footer a {
  color: #555;
}
.clearfix {
  clear: both;
}
.pull-right {
  float: right;
}
.secondary {
  background: #f8f8f8;
}
.symbol {
  color: #777;
}
.form-group {
  display: block;
  padding: 8px;
  margin: 8px 0;
}
.form-group label {
  margin-right: 4px;
}
.form-group .help-text {
  margin-left: 32px;
  display: inline-block;
}
.default-user-control {
  width: 48px;
  text-align: left;
}
.btn {
  padding: 6px 24px;
  margin-right: 12px;
}
.status {
  display: inline-block;
  font-size: 16px;
  color: green;
}
